# version: "3.8"

# services:
#   airflow_postgres:
#     image: postgres:13
#     environment:
#       POSTGRES_USER: airflow
#       POSTGRES_PASSWORD: airflow
#       POSTGRES_DB: airflow
#     volumes:
#       - postgres-db-volume:/var/lib/postgresql/data

#   airflow-webserver:
#     image: apache/airflow:2.7.3
#     container_name: airflow_webserver
#     depends_on:
#       - airflow_postgres
#     environment:
#       AIRFLOW__CORE__EXECUTOR: LocalExecutor
#       AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@airflow_postgres/airflow
#       AIRFLOW__CORE__LOAD_EXAMPLES: "false"
#     volumes:
#       - ./dags:/opt/airflow/dags
#       - ./etl_scripts:/opt/airflow/etl_scripts
#       - ./great_expectations:/opt/airflow/great_expectations
#       - ./data:/opt/airflow/data
#     ports:
#       - "8080:8080"
#     command: >
#       bash -c "
#       airflow db migrate &&
#       airflow users create
#         --username admin
#         --password admin
#         --firstname Admin
#         --lastname User
#         --role Admin
#         --email admin@example.com || true &&
#       airflow webserver
#       "

#   airflow-scheduler:
#     image: apache/airflow:2.7.3
#     container_name: airflow_scheduler
#     depends_on:
#       - airflow-webserver
#     environment:
#       AIRFLOW__CORE__EXECUTOR: LocalExecutor
#       AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@airflow_postgres/airflow
#     volumes:
#       - ./dags:/opt/airflow/dags
#       - ./etl_scripts:/opt/airflow/etl_scripts
#       - ./great_expectations:/opt/airflow/great_expectations
#       - ./data:/opt/airflow/data
#     command: airflow scheduler

#   services:
#   etl-service:
#     build:
#       context: .
#       dockerfile: Dockerfile.etl
#     container_name: etl-service

#     volumes:
#       - .:/app
#     working_dir: /app
#     command: tail -f /dev/null
#     depends_on:
#       - airflow_postgres

# volumes:
#   postgres-db-volume:
services:
  etl-service:
    build:
      context: .
      dockerfile: Dockerfile.etl
    container_name: etl-service
